@model Lotto.Web.Models.Home

<div class="row">
    <div class="col-md-6">
        <h2>Latest Draws</h2>
        @foreach (var drawResult in Model?.LatestResultItems)
        {
<div class="row">
    <div class="col-md-12">
        <div class="lottoContainer">
            <h3>@drawResult.DrawDisplayName</h3>
            <p>
                <img src="@drawResult.DrawLogoUrl" alt="@drawResult.DrawDisplayName" />
            </p>
            <p><b>Draw date:</b> @drawResult.DrawDate.ToString("dd/MM/yyyy")</p>
        </div>
    </div>
</div>}
    </div>
    <div class="col-md-6">
        <h2>Open Draw Data</h2>
        @foreach (var draw in Model.OpenDrawItems)
        {
<div class="row">
    <div class="col-md-12">
        <div class="lottoContainer">
            <h3>@draw.DrawDisplayName</h3>
            <p>
                <img src="@draw.DrawLogoUrl" alt="@draw.DrawDisplayName" />
            </p>
            <p><b>Draw date:</b> @draw.DrawDate.ToString("dd/MM/yyyy")</p>
            <p><b>Jackpot:</b> @draw.Div1Amount.ToString("C", System.Globalization.CultureInfo.GetCultureInfo("en-au"))</p>
        </div>
    </div>
</div>}
    </div>
</div>


